.ng-invalid.ng-dirty{
	border-color:#FF5B60;
}
.ng-valid.ng-dirty{
	border-color:#69F174;
}

.products-table td {
vertical-align: middle;
}

.label-proven  {
	padding: 10px;
}

.proven-badge {
	background-color: #FFFFFF;
	color: #337ab7;
}

.image-logo { width: 60px; height: 60px; }
