.ng-invalid.ng-dirty{
	border-color:#FF5B60;
}
.ng-valid.ng-dirty{
	border-color:#69F174;
}

.products-table td {
padding-right: 30px;
padding-bottom:10px;
}

.image-logo { width: 60px; height: 60px; }
