<div class="row">
  <div class="col-md-12">
    <div ng-if="productsArray.length == 0">
      <h1>There are no products in your shopping cart.</h1>
    </div>
    <div ng-show="productsArray.length > 0">
      <form name="productsForm">
        <div class="row">
          <h1>Filter data options:</h1>
          <div class="col-sm-3">
            <label for="search">Search by first filed:</label>
            <input ng-model="firstFiledSearch" id="search" class="form-control" placeholder="Filter text" ng-disabled="reviewsManagement.$invalid">
          </div>
          <div class="col-sm-3">
            <label for="search">Search by second filed:</label>
            <input ng-model="secondFiledSearch" id="search" class="form-control" placeholder="Filter text" ng-disabled="reviewsManagement.$invalid">
          </div>
          <div class="col-sm-2">
            <label for="search">items per page:</label>
            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize" ng-disabled="reviewsManagement.$invalid">
          </div>
        </div>
        <div>
          <h1>Products in your shopping cart:</h1>
        </div>
        <table class="products-table">
          <tr><th>First Field</th><th>Second Field</th><th>Date</th><th>Option</th><th>Select</th><th>Checkbox 1</th><th>Checkbox 2</th><th>Modify</th><th>Remove</th></tr>
          <!-- <tr dir-paginate="productObj in filteredData | itemsPerPage: pageSize" current-page="currentPage"> -->
          <tr ng-repeat="productObj in productsArray">
            <td>
              <label ng-show="!editInput[$index]">{{productObj.getCookieFiled1()}}</label>
              <label ng-show="editInput[$index]"><input type="text" ng-model="productObj.cookieFiled1"/></label>
            </td>
            <td>{{productObj.getCookieFiled2() | currency}}</td>
            <td>{{productObj.getDateToValidate() | date}}</td>
            <td>{{productObj.getRadioType()}}</td>
            <td>{{productObj.getSelectForm()}}</td>
            <td>{{productObj.getCheckboxType1()}}</td>
            <td>{{productObj.getCheckboxType2()}}</td>
            <td>
              <button class="btn"
              ng-class="{'btn-success': editInput[$index],
              'btn-primary': !editInput[$index]}"
              ng-click="showProductsCtrl.modifyCookie($index)">

              {{ editInput[$index] ? 'Save' : 'Modify' }}
            </button>
          </td>
          <td>
            <button class="btn btn-danger" ng-click="showProductsCtrl.removeCookie($index)">
              X
            </button>
          </td>
        </tr>
      </table>
      <div class="text-left" boundary-links="true">
        <dir-pagination-controls boundary-links="true" template-url="../../view/templates/dir-pagination-controls.html" ></dir-pagination-controls>
      </div>
      <button class="btn btn-warning" ng-click="showProductsCtrl.unDo()">
        Undo
      </button>
      <label>Total products: {{productsArray.length}} </label>
      <label>Total price: {{totalPrice | currency}}</label>
    </form>
  </div>

</div>
</div>
