<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="cookiesApp" xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
  Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Cookies Management</title>
  <link rel="shortcut icon" HREF="images/logo.jpeg"/>
  <meta name="description" content="Supermarket Eat it up">
  <meta name="author" content="Robert Plana">

  <!-- css-->
  <link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <!-- jQuery-->
  <script src="vendors/jquery/js/jQuery.js" type="text/javascript" xml:space="preserve"></script>

  <!-- jQuery Cookies management-->
  <!-- <script src="vendors/jquery/jquery-cookie/jquery.cookie.js" type="text/javascript" xml:space="preserve"></script>-->

  <!-- Angular-->
  <script src="vendors/angular/js/angular.min.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/angular-file-upload.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/angular-i18n/angular-locale_es-es.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/ng-currency.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/angular-cookies.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/dirPagination.js" type="text/javascript" xml:space="preserve"></script>

  <!-- Own code-->
  <!-- Model-->
  <script src="js/model/productObj.js" type="text/javascript" xml:space="preserve"></script>

  <!-- Controllers-->
  <script src="js/app.js" type="text/javascript" xml:space="preserve"></script>
  <!-- <script src="js/controller/generalFunctions.js" type="text/javascript" xml:space="preserve"></script> -->
  <script src="js/controller/productController.js" type="text/javascript" xml:space="preserve"></script>
</head>
<body ng-controller="productController as productCtrl" ng-init="productCtrl.removeCookies(true)">
  <div class="container well">

    <div class="row">
      <div class="col-md-12">
      <img class="img-circle" src="images/shoppingCart.jpg" />
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="#" ng-click="productCtrl.showCookies()"><b>Show all cookies</b></a></li>
        <li role="presentation"><a href="#" ng-click="productCtrl.deleteCookies()"><b>Empty cookies</b></a></li>
      </ul>

    <h1>Cookies managment</h1>

    <form class="form-horizontal" name="formExample" ng-submit="formExample.$valid && productCtrl.createCookie()" novalidate>
        <div class="form-group">
          <label class="control-label col-md-5" for="formGroup">Write here the value of the first field to save in the product:</label>
          <div class="col-md-7">
            <input type="text" id="cookieFiled1" class="form-control" ng-model="product.cookieFiled1" required />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-5" for="formGroup">Write here the value of the second field to save in the product:</label>
          <div class="col-md-7">
            <input type="text" id="cookieFiled2" ng-currency class="form-control" ng-model="product.cookieFiled2" required />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-5" for="formGroup">Write here a date:</label>
          <div  class="input-group col-md-7">
              <input type="text" class="form-control" id="betDate" uib-datepicker-popup="{{format}}"
              ng-model="product.dateToValidate"
              is-open="dateToValidate.opened"
              datepicker-options="dateOptions"
              ng-required="true" close-text="Close"
              alt-input-formats="altInputFormats"
              readonly/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDateToValidate()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-5" for="formGroup">Select:</label>
          <div class="col-md-7">
            <select class="form-control" ng-model="product.selectForm" ng-options="options for options in ['option1','option2']" required ></select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-5" for="formGroup">Write here the option:</label>
          <div class="col-md-7">
            <input type="radio" name="radioType" id="radioType" ng-model="product.radioType" value="Option 1"   /> Option 1
            <input type="radio" name="radioType"  id="radioType1"   ng-model="product.radioType" value="Option 2" /> Option 2
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-5" for="formGroup">Checkbox:</label>
          <div class="col-md-7">
            <input type="checkbox" name="checkboxType" id="checkboxType1" value="checkBox 1" ng-model="product.checkboxType1" /> Checkbox 1
            <input type="checkbox" name="checkboxType" id="checkboxType2" value="checkBox 2" ng-model="product.checkboxType2" /> Checkbox 2
          </div>
        </div>
        <button class="btn btn-success pull-right "> Create product </button>
    </form>
  </div>
  </div>
  </div>
</body>
</html>
