<!DOCTYPE html>
<html lang="en" ng-app="cookiesApp">

<head>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Cookies Management</title>
  <link rel="shortcut icon" HREF="../../images/logo.jpeg"/>
  <meta name="description" content="DAWM6 Cookies AngularJS is an scholar project to introduce AngularJS Framework.">

  <!-- css-->
  <link rel="stylesheet" type="text/css" href="../../vendors/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/index.css"/>
  <!-- jQuery-->
  <!-- <script src="vendors/jquery/js/jQuery.js" type="text/javascript"></script> -->

  <!-- jQuery Cookies management-->
  <!-- <script src="vendors/jquery/jquery-cookie/jquery.cookie.js" type="text/javascript"></script>-->

  <!-- Angular-->
  <script src="../../vendors/angular/js/angular.min.js" type="text/javascript" ></script>
  <!-- <script src="vendors/angular/js/angular-file-upload.js" type="text/javascript"></script> -->
  <!-- <script src="vendors/angular/js/angular-i18n/angular-locale_es-es.js" type="text/javascript" ></script> -->
  <script src="../../vendors/angular/js/ng-currency.js" type="text/javascript"></script>
  <script src="../../vendors/angular/js/angular-cookies.js" type="text/javascript"></script>
  <script src="../../vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.js" type="text/javascript"></script>
  <!-- <script src="vendors/angular/js/dirPagination.js" type="text/javascript" ></script> -->

  <!-- Own code-->
  <!-- Model-->
  <script src="../../js/model/productObj.js" type="text/javascript"></script>

  <!-- Controllers-->
  <script src="../../js/app.js" type="text/javascript"></script>
  <!-- <script src="js/controller/generalFunctions.js" type="text/javascript"></script> -->
  <script src="../../js/controller/showProductsController.js" type="text/javascript" ></script>
</head>
<body ng-controller="showProductsController as showProductsCtrl" ng-init="showProductsCtrl.loadCookies()">
  <div class="container">
    <cookie-information></cookie-information>
  </div>
</body>
</html>
